<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
</IfModule>

# Zákaz přímého přístupu ke konfiguraci a zdrojům
RedirectMatch 403 ^/(config|src)/
